.box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
}

.button{
    width: 100px;
    height: 25px;
    margin-top:60px;
}